.card-product {
  overflow: hidden;
  background: white;
  /* box-shadow: 0 0 15px rgba(0,0,0,0.2); */
  display: flex;
  align-items: center;
  width: 660px;
  border-radius: 6px;
  justify-content: space-between;
}

.card-product img {
  height: 250px !important;
  width: 310px !important;
  object-fit: cover;
  border-radius: 5px;
  margin: 16px;
}

.card-product h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 5px;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 5px;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.list {
  font-size: 18px;
}

.head2 {
  font-size: none;
}

@media screen and (max-width: 660px) {
  .card-product {
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column; /* Stack content vertically */
    align-items: center;
    justify-content: center;
    width: 90%; /* Slightly wider for better spacing */
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
  }

  .list {
    font-size: 24px;
  }

  .card-product img {
    order: -1; /* Move image to top */
    height: 450px !important;
    width: 550px !important;
    display: block; /* Ensure the image is block level */
    margin: auto; /* Center the image */
    border-radius: 5px; /* Maintain rounded corners */
    margin-bottom: 16px;
    margin-top: 24px;
    object-fit: cover; /* Keep aspect ratio and fill the square */
  }

  .card-product h2 {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 10px; /* Adjust padding for spacing */
    text-align: center;
  }

  .card-product p {
    font-size: 28px;
    line-height: 1.4;
    margin-bottom: 5px;
    margin-top: 8px;
    text-align: center;
    padding-right: 13px;
    padding-left: 13px;
  }

  .card-product .card-product-infos {
    text-align: left;
    padding: 16px; /* Keep consistent padding */
    width: 100%; /* Ensure full width within container */
  }

  .head2 {
    font-size: 35px;
  }
}
